extends layout

mixin actorList( name, href, src)
    li
        img(src= src)
        a(href= href) #{name}

block script
    link(rel='stylesheet', href='/stylesheets/actors.css')

block content
  div.container
    div.drama
        h3 Comedy
        div.pic-frame
            img.drama-pic(src="/images/actors/comedy3.jpg")
        div.side-bar
            ul  
                -var baseURL= "https://www.facebook.com/";
                mixin actorList("蔡林孝衡", baseURL+"profile.php?id=100000479322304", "/images/comedy/1.jpg")
                mixin actorList("陳俊達", baseURL+"junda.chen.7", "/images/comedy/2.jpg")
                mixin actorList("高子桓", baseURL+"profile.php?id=100000283119932", "/images/comedy/3.jpg")
                mixin actorList("郭人豪", baseURL+"ooohowardooo", "/images/comedy/4.jpg")
                mixin actorList("趙家明", baseURL+"profile.php?id=100002384826419", "/images/comedy/5.jpg")
                mixin actorList("許文嘉", baseURL+"leo.hsu.7737", "/images/comedy/6.jpg")
                mixin actorList("趙儀", baseURL+"profile.php?id=100000396466436", "/images/comedy/7.jpg")
                mixin actorList("廖育鋐", baseURL+"profile.php?id=100001561886391", "/images/comedy/8.jpg")
                mixin actorList("周郁芸", baseURL+"profile.php?id=100001923655591", "/images/comedy/9.jpg")
        div(style='clear:both')

    div.drama
        h3 Suspense Drama
        div.pic-frame
            img.drama-pic(src="/images/actors/suspensedrama.jpg")
        div.side-bar
            ul  
                -var baseURL= "https://www.facebook.com/";
                mixin actorList("宋忻祖", baseURL+"profile.php?id=100000178809323", "/images/suspence/1.jpg")
                mixin actorList("黃崇睿", baseURL+"profile.php?id=100002297892356", "/images/suspence/2.jpg")
                mixin actorList("呂奕德", baseURL+"profile.php?id=100001135499285", "/images/suspence/3.jpg")
                mixin actorList("李璉昀", baseURL+"profile.php?id=100000453906792", "/images/suspence/4.jpg")
                mixin actorList("彭揚閔", baseURL+"profile.php?id=100002018385338", "/images/suspence/5.jpg")
                mixin actorList("邱建緯", baseURL+"vincent.chiu.3150", "/images/suspence/6.jpg")
                mixin actorList("鄧予婷", baseURL+"ty19931211", "/images/suspence/7.jpg")
                mixin actorList("蔡治廷", baseURL+"tim.tsai.9883", "/images/suspence/8.jpg")
                mixin actorList("陳妍蓁", baseURL+"profile.php?id=100003618308320", "/images/suspence/9.jpg")
        div(style='clear:both')

    div.drama
        h3 Love Story
        div.pic-frame
            img.drama-pic(src="/images/actors/lovestory.jpg")
        div.side-bar
            ul  
                -var baseURL= "https://www.facebook.com/";
                mixin actorList("宋展逸", baseURL+"profile.php?id=100000969736558", "/images/lovestory/1.jpg")
                mixin actorList("陳俐螢", baseURL+"profile.php?id=100002576320690", "/images/lovestory/2.jpg")
                mixin actorList("蔡佳蓉", baseURL+"profile.php?id=100001092920968", "/images/lovestory/3.jpg")
                mixin actorList("蘇柏維", baseURL+"profile.php?id=100002263527187", "/images/lovestory/4.jpg")
                mixin actorList("施沐承", baseURL+"profile.php?id=100000370132235", "/images/lovestory/5.jpg")
                mixin actorList("吳宗軒", baseURL+"profile.php?id=100000126294022", "/images/lovestory/6.jpg")
                mixin actorList("鄭亦庭", baseURL+"profile.php?id=100001762128992", "/images/lovestory/7.jpg")
                mixin actorList("盧耘庸", baseURL+"profile.php?id=100000156184637", "/images/lovestory/8.jpg")
                mixin actorList("林韻晴", baseURL+"profile.php?id=100000233276437", "/images/lovestory/9.jpg")
        div(style='clear:both')

    include footer
    
                
