extends layout

include mixins

block content
    div.container
        div.fb-comments(data-href="http://www.ckcm-night.com", data-width="600", data-num-posts="10", data-colorscheme="dark")

    include footer
    