extends layout

block script
    link(rel='stylesheet', href='/stylesheets/compaign.css')
    script(src='/javascripts/jquery.masonry.min.js')
    script
        var $container = $('.container');
        $container.imagesLoaded( function(){
          $container.masonry({
            itemSelector : '.item',
            columnWidth: 240
          });
        });


block content
  div.container
    div.item0
        iframe(width="640", height="360", src="http://www.youtube.com/embed/Kfp064iEUq0", frameborder="0", allowfullscreen )

    div.item1
        p 絢爛
        p 燈火交互竄照的驚懼
        br
        p 華麗
        p 假面下澄澈透亮卻又詭譎的雙眸
        p 嘴角揚起的淺笑
        br
        p 綻放
        p 如流轉的年華
        p 散落的玫瑰與來不及喘氣的豔麗
        br
        p 而魔幻
        p 在黑色燕尾服前
        p 見證給世人。

    div.item3
        img(src='/images/posters/jt-poster.jpg')

    div.item2
        img(src='/images/posters/mrdreamer.jpg')

    div.item4
        p 曾經
        p 我相信如幻般的夢想
        p 但相信並非代表永恆
        p 夢裂了 碎了 散落了
        p 只能望著它們
        p 望著空靈的世界
        p 等著被無情社會吞噬
        p 直到這一夜
        p 他們告訴我
        p Dare to dream. You are not the only one.
        p 夢被他 被她 被他們拾起
        p 碎裂過的希冀 逐漸被擁抱縫合
        p 而修補成交織著勇氣的網
        p 網向未來
        p 而混沌獲得解放
        p 成功也開始茁壯
        br
        p 我是夢想先生
        p 讓我帶你，一起品嘗
        p 拾回夢的甜美滋味
  
  include footer


