extends layout

block script
    link(rel='stylesheet', href='/stylesheets/compaign.css')

block content
  div.container
    //div.block
        div.pic-frame
            img(src= '/images/poster1.jpg')
        div.side-bar
            p sfkekj
        div(style='clear:both')

