extends layout

include mixins

block content
    div.container
        div.main
            h4 總召
            h5 溫為國
            ul
                li 資工103 0988556915
                li 
                    span Facebook
                    a(href="https://www.facebook.com/profile.php?id=100001585728421") www.facebook.com/profile.php?id=100001585728421
                     

            h5 張惠雯
            ul
                li 台文103 0927567653
                li 
                    span Facebook
                    a(href="https://www.facebook.com/profile.php?id=100001252674433") www.facebook.com/profile.php?id=100001252674433
                     
    include footer
    