extends layout

include mixins

block content
    div.container
        div.media
            a.pull-left
                img(src= '/images/persons/jt2.jpg', width="250px", height="250px")
            div.media-body
                h2.media-heading 丁興毅

                p 歡迎特別嘉賓"丁興毅"為2013成景之夜表演
                br
                p 成功高中魔術社 第五屆社長
                p 成功大學魔術社 第九屆社長
                p 中視 達人總動員 踢館選手
                p 網路爆紅影片:
                p 
                    a(href='http://www.youtube.com/watch?v=RWAJ62B0Z5Q') http://www.youtube.com/watch?v=RWAJ62B0Z5Q
                br

                ul.link
                    li
                        a(href= 'https://www.facebook.com/jack.ting.33')
                            img(src="/images/fb.png", width="20px", height="20px")