extends layout

block script
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css')
    script
        $(document).ready(function(){
            $('.carousel').carousel({
              interval: 6000
            });

            
            //$('.navbar').height($(window).height()*0.15);
            var remainHeight= $(window).height()-$('header').height();
            $('.carousel').find('.item').height(remainHeight);
          });

block content
    //h1.title Mr Dreamer
    div#myCarousel.carousel.slide
        div.carousel-inner
            div.active.item
                img#poster(src="/images/carousel/poster.jpg")
                div.container
                    div.carousel-caption
                        ul.list
                            li
                                h1 Mr Dreamer
                                p.lead Dare to dream. You are not the only one
                                div.fb-like(data-send="false", data-width="450", data-show-faces="true", data-href='http://www.ckcm-night.com')
                            li
                                h5.video-title 精彩預告片
                                a(href='http://youtu.be/Kfp064iEUq0', target='_blank')
                                    span.video-thumb
                                        i.icon-play
                            div(style='clear:left')


                        a.fb-share(href='https://www.facebook.com/events/155518601290645')
                            img(src='/images/fb-share.png')

            div.item
                img(src="/images/carousel/suspensedrama.jpg")
                div.container
                    div.carousel-caption
                        ul.list
                            li
                                h1 Mr Dreamer
                                p.lead Dare to dream. You are not the only one
                                //div.fb-like(data-send="false", data-width="450", data-show-faces="true", data-href='http://www.ckcm-night.com')
                            li
                                h6.video-title2 精彩預告片
                                a(href='http://youtu.be/Kfp064iEUq0', target='_blank')
                                    span.video-thumb2
                                        i.icon-play
                            div(style='clear:left')


                        a.fb-share(href='https://www.facebook.com/events/155518601290645')
                            img(src='/images/fb-share.png')


            div.item
                img(src="/images/carousel/lovestory.jpg")
                div.container
                    div.carousel-caption
                        ul.list
                            li
                                h1 Mr Dreamer
                                p.lead Dare to dream. You are not the only one
                                //div.fb-like(data-send="false", data-width="450", data-show-faces="true", data-href='http://www.ckcm-night.com')
                            li
                                h6.video-title2 精彩預告片
                                a(href='http://youtu.be/Kfp064iEUq0', target='_blank')
                                    span.video-thumb2
                                        i.icon-play
                            div(style='clear:left')


                        a.fb-share(href='https://www.facebook.com/events/155518601290645')
                            img(src='/images/fb-share.png')

            div.item
                img(src="/images/carousel/comedy1.jpg")
                div.container
                    div.carousel-caption
                        ul.list
                            li
                                h1 Mr Dreamer
                                p.lead Dare to dream. You are not the only one
                                //div.fb-like(data-send="false", data-width="450", data-show-faces="true", data-href='http://www.ckcm-night.com')
                            li
                                h6.video-title2 精彩預告片
                                a(href='http://youtu.be/Kfp064iEUq0', target='_blank')
                                    span.video-thumb2
                                        i.icon-play
                            div(style='clear:left')


                        a.fb-share(href='https://www.facebook.com/events/155518601290645')
                            img(src='/images/fb-share.png')

            div.item
                img(src="/images/carousel/comedy2.jpg")
                div.container
                    div.carousel-caption
                        ul.list
                            li
                                h1 Mr Dreamer
                                p.lead Dare to dream. You are not the only one
                                //div.fb-like(data-send="false", data-width="450", data-show-faces="true", data-href='http://www.ckcm-night.com')
                            li
                                h6.video-title2 精彩預告片
                                a(href='http://youtu.be/Kfp064iEUq0', target='_blank')
                                    span.video-thumb2
                                        i.icon-play
                            div(style='clear:left')


                        a.fb-share(href='https://www.facebook.com/events/155518601290645')
                            img(src='/images/fb-share.png')

        a.left.carousel-control(href="#myCarousel", data-slide="prev") &lsaquo;
        a.right.carousel-control(href="#myCarousel", data-slide="next") &rsaquo;

  