extends layout

block script
    link(rel='stylesheet', href='/stylesheets/index.css')

block content
    div#myCarousel.carousel.slide
        div.carousel-inner
            div.active.item
                img(src="/images/carousel1.jpg")
                div.container
                    div.carousel-caption
                        h1 Mr Dreamer
                        p.lead Dare to dream. You are not the only one

            div.item
                img(src="/images/carousel2.jpg")
                div.container
                    div.carousel-caption
                        h1 Mr Dreamer
                        p.lead Dare to dream. You are not the only one

            div.item
                img(src="/images/carousel3.jpg")
                div.container
                    div.carousel-caption
                        h1 Mr Dreamer
                        p.lead Dare to dream. You are not the only one
        a.left.carousel-control(href="#myCarousel", data-slide="prev") &lsaquo;
        a.right.carousel-control(href="#myCarousel", data-slide="next") &rsaquo;

  