mixin header-li(href, title)
    -if(nav===href)
        li.active
            a(href="/#{href}")= title
    -else
        li
            a(href= "/#{href}")= title

doctype 5
html
  head
    title= title
    <!-- Bootstrap -->
    link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet", media="screen")
    script(src="http://code.jquery.com/jquery.js")
    script(src="bootstrap/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/layout.css')
    script
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    block script

  body
    div.fb-root
    header.navbar.navbar-static-top
        div.navbar-inner
            div.container
                a.brand(href="/")  LOGO
                    //img(src="/images/logo.jpg")
                div.nav-collapse.collapse
                    ul.nav.nav-pills
                        mixin header-li("actors", "劇組名單")
                        mixin header-li("guests", "特別來賓")
                        mixin header-li("compaign", "宣傳")
                        mixin header-li("sponsors", "贊助廠商")
                        mixin header-li("specialthx", "特別感謝")
                        mixin header-li("contacts", "聯絡我們")
    block content
    //footer
        div.container
            ul
                li 
                    a(href="#") 成大成景會

                li 
                    a(href="#") made by wwwy3y3