extends layout

include mixins


block content
  div.container
    -var nmstr= "N&M Studio為成大學生自組之獨立製片團隊，2010年5月成立至今，目前人員約20人上下，以「細膩、堅持、執著」六字為團隊創作精神。";
    mixin block("N&M Studio" ,nmstr, "#", "/images/n&m.jpg")
    mixin block("板橋人樂團" ,"thank you", "#", "/images/band.jpg")