extends layout

include mixins

block content
  div.container
    div.media
        a.pull-left
            img(src= '/images/sponsors/sponsor1.jpg', width="250px", height="250px")
        div.media-body
            h2.media-heading 清香羊肉

            p 羊肉爐價錢是300元，用的是土產帶皮羊肉，
            p 其他還有些凍豆腐、玉米、豆皮、青菜類，湯可以續加，湯頭十分甘甜，
            p 肉塊Q勁十足，可以蘸他們調的甜醬，味道很特殊。
            p 300元在配上幾道簡單的小菜就夠三五好友共同享用!
            br
            br
            p 地址：台南市林森路二段8號
            p 電話：06-2340802
            p 營業時間：17:00-24:00
            p 公休日：無

    div.media
        a.pull-left
            img(src= '/images/sponsors/sponsor2.jpg', width="250px", height="250px")
        div.media-body
            h2.media-heading 燕喃水餃

            p 公道的價錢，再搭配實在的餡料，店家飽受客人好評，
            p 若是在店內吃，點碗濃稠酸香的酸辣湯，下點烏醋，會讓人更心滿意足。
            p 本來水餃與酸辣湯就是小吃方程式之一。
            p 有另一種吃法是，來瓶玻璃瓶裝的可樂，也是一種絕佳的選擇。
            br
            br
            p 地址：台南市林森路二段71號
            p 電話：06-2083630
            p 營業時間：11:00-20:30

    div.media
        a.pull-left
            img(src= '/images/sponsors/sponsor3.jpg', width="250px", height="250px")
        div.media-body
            h2.media-heading 萬紅刀切麵
            
            p 目前臺南手工削的刀切麵館已經不多了，
            p 萬紅刀切麵就為了要讓麵更有Q彈嚼勁而保持傳統，
            p 所有刀切炒麵，刀切、刀削麵的製法都不相同，
            p 講求厚切麵體帶出的殷實口感，
            p 若是第一次光顧首推刀切麵。
            br
            br
            p 地址：台南市北區開元路380號
            p 電話：06-2003848
            p 營業時間：11:00-20:00

     div.media
        a.pull-left
            img(src= '/images/sponsors/sponsor4.jpg', width="250px", height="250px")
        div.media-body
            h2.media-heading 阿憨鹹粥
            
            p 魚肚粥一碗九十元，再加上一條油條多十元，這也是台南人慣常的吃法，
            p 油條沾上熬煮的高湯，軟化入味，
            p 最後利用蒜頭酥及香菜提味，整碗粥吃起來非常順口。
            br
            br
            p 地址：台南市北區公園南路169號
            p 電話：06-2218699、0922-184819
            p 營業時間：6:10~22:00

    include footer
    