.carousel{margin-bottom:0;}
.carousel .container{position:absolute;z-index:9;width:100%;bottom:0;}
.carousel-control{height:80px;margin-top:0;font-size:120px;text-shadow:0 1px 1px rgba(0, 0, 0, 0.4);background-color:transparent;border:0;z-index:10;}
.carousel .item{width:100%;}
.carousel .item>img{position:absolute;top:0;left:0;}
.carousel #poster{top:-270px;}
.carousel-caption{position:relative;background-color:rgba(255, 255, 255, 0.5);position:static;width:100%;padding:20px;margin-top:200px;}
.carousel-caption h1,.carousel-caption .lead{margin:0;line-height:1.25;color:black;text-shadow:0 1px 1px rgba(0, 0, 0, 0.4);}
.carousel-caption .btn{margin-top:10px;}
.fb-share{width:80px;position:absolute;bottom:10px;right:50px;background-color:transparent;border:none;}
.title{font-family:"AlmendraSC-Regular";margin-left:100px;color:#DBC16C;}
.secondary{height:10%;background-color:white;position:relative;}.secondary .sentence{font-family:"Brush Script MT",cursive;color:#999999;}
.secondary .btn{position:absolute;right:20px;}.secondary .btn a{color:white;}
