//reset & overrides
* {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

//links
a:link, a:active, a:visited {
	text-decoration: none;
}

//mixins & variables

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow (@arguments: 0 1px 2px #999) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
//fonts
@font-face {
  font-family: "AlexBrush";
  src: url("/fonts/AlexBrush-Regular-OTF.otf");
}

@font-face {
  font-family: "AlmendraSC-Regular";
  src: url("/fonts/AlmendraSC-Regular.otf");
}
//

body {
  background: url("/images/debut_dark.png") repeat;
  color: white;
}
.navbar .brand {
  margin-left: -140px;
}

.brand {
  float: left;
  img{
    width: 250px;
    margin-top: -30px;
  }
  
}

.navbar {
  height: 140px;
  //margin-bottom: 50px;
}

.navbar .nav>li>a {
  text-shadow: none;
  color: #A8A39D;
  &:hover {
    color: white;
  };
}

.navbar-inner {
  height: auto;
  padding: 20px;
  border: none;
  //background: transparent;
  background: url("/images/debut_dark.png") repeat;
  .box-shadow (none);
  //background-color: rgba(255,255,255,1);
}

.navbar-static-top .navbar-inner {
  .box-shadow (none);
}

.navbar .nav {
  float: right;
  position: relative;
  left: 0;
  display: block;
  margin: 20px 0 0 0;
  font-size: 18px;
  
  a {
    color: white;
    margin-right: 10px;
  }
}

.container:after {
clear: both;
}

//

.media:first-child {
  margin-top: 50px;
}

.media {
  position: relative;
  margin-top: 50px;
  color: #C9C9C9;//#E2DDD9;
  background-color: fadeout(black, 95%);//#303030;
  padding: 20px;

  img {
   // border: 2px solid black;
  }
  .link {
    position: absolute;
    bottom: 20px;
    list-style: none;
  }

  .media-heading {
    color: #FEEECC;
    font-weight: normal;
    font-family: "微軟正黑體"
  }

  .media-body {
    padding-left: 20px;
    font-size: 18px;
  }

  .border-radius;
}

//contacts
.main{
  margin-top: 20px;
  color: #C9C9C9;//#E2DDD9;
  background-color: fadeout(black, 95%);//#303030;
  padding: 20px;

  .border-radius;

  ul {
    list-style: none;
    margin: 0;
  }

  h5,
  ul{
    margin-left: 20px;
  }

  span {
    margin-right: 10px;
    color: #3b5998;
    font-weight: bold;
  }

  a {
    color: #A80000;
  }
}

//footer

footer {
  //position: absolute;
  //bottom: 0;
  color: white;

  ul{
    list-style: none;
    li {
      float: left;
    }

    li a{
      display: block;
      margin: 5px;
      color: white;

      &:hover{
        color: white;
      }
    }
  }
}