*{margin:0;padding:0;}
img{border:none;}
a:link,a:active,a:visited{text-decoration:none;}
@font-face{font-family:"AlexBrush";src:url("/fonts/AlexBrush-Regular-OTF.otf");}@font-face{font-family:"AlmendraSC-Regular";src:url("/fonts/AlmendraSC-Regular.otf");}body{background:url("/images/debut_dark.png") repeat;color:white;}
.navbar .brand{margin-left:-60px;}
.brand{float:left;}.brand img{width:250px;margin-top:-40px;}
.navbar{height:120px;}
.navbar .nav>li>a{text-shadow:none;color:#A8A39D;}.navbar .nav>li>a:hover{color:white;}
.navbar-inner{height:auto;padding:20px;border:none;background:url("/images/debut_dark.png") repeat;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.navbar-static-top .navbar-inner{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.navbar .nav{float:right;position:relative;left:0;display:block;margin:20px 10px 0 0;font-size:18px;}.navbar .nav a{color:white;}
.container:after{clear:both;}
.media:first-child{margin-top:50px;}
.media{position:relative;margin-top:50px;color:#C9C9C9;background-color:rgba(0, 0, 0, 0.050000000000000044);padding:20px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.media .link{position:absolute;bottom:20px;list-style:none;}
.media .media-heading{color:#FEEECC;font-weight:normal;font-family:"微軟正黑體";}
.media .media-body{padding-left:20px;font-size:18px;}
.main{margin-top:20px;color:#C9C9C9;background-color:rgba(0, 0, 0, 0.050000000000000044);padding:20px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}.main ul{list-style:none;margin:0;}
.main h5,.main ul{margin-left:20px;}
.main span{margin-right:10px;color:#3b5998;font-weight:bold;}
.main a{color:#A80000;}
footer{color:white;}footer ul{list-style:none;}footer ul li{float:left;}
footer ul li a{display:block;margin:5px;color:white;}footer ul li a:hover{color:white;}
