//reset & overrides
* {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

//links
a:link, a:active, a:visited {
	text-decoration: none;
}

//mixins & variables

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow (@arguments: 0 1px 2px #999) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

//

body {
  background-color: #333333;
}

.logo {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  height: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-inner {
  padding: 20px;
  border: none;
  background: transparent;
  background-color: #fff;
  background-color: rgba(255,255,255,1);
}

.navbar .nav {
  float: right;
  position: relative;
  left: 0;
  display: block;
  margin: 0 10px 0 0;
}

.container:after {
clear: both;
}