*{margin:0;padding:0;}
img{border:none;}
a:link,a:active,a:visited{text-decoration:none;}
body{background:url("/images/carbon_fibre.png") repeat;}
.logo{display:block;float:left;padding:10px 20px 10px;height:100px;padding-top:25px;padding-bottom:25px;}
.navbar-inner{padding:20px;border:none;background:transparent;background-color:#fff;background-color:#ffffff;}
.navbar .nav{float:right;position:relative;left:0;display:block;margin:0 10px 0 0;}
.container:after{clear:both;}
.media:first-child{margin-top:100px;}
.media{position:relative;margin-top:100px;color:white;}.media .link{position:absolute;bottom:0;list-style:none;}
.media .media-body{padding-left:20px;}
footer{position:absolute;bottom:0;color:white;}footer ul{list-style:none;}footer ul li{float:left;}
footer ul li a{display:block;margin:5px;color:white;}footer ul li a:hover{color:white;}
